{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-container">
    <!-- HEADER DESKTOP -->
    {% include 'userbar.html' %}
    <!-- END HEADER DESKTOP -->

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Username: {{ request.user.username }}</h2>

                            {# Agar kerak bo‘lsa "Add" tugmasini quyidagi shaklda oching #}
                            {#
                            <a class="au-btn au-btn-icon au-btn--blue" href="{% url 'teacher_create' %}">
                                <i class="zmdi zmdi-plus"></i> Add
                            </a>
                            #}
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <!-- LAST ACTIONS -->
                    <div class="col-sm-6 col-lg-4">
                        <h2>Last actions:</h2>
                        {% if request.session.actions %}
                            {% for act in request.session.actions %}
                                <div class="row">{{ act }}</div>
                            {% endfor %}
                        {% else %}
                            <div class="row">No recent actions.</div>
                        {% endif %}
                    </div>

                    <!-- FACULTY COUNT -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon"><i class="fa fa-bank"></i></div>
                                    <div class="text">
                                        <h2>{{ request.session.faculty_count|default:"0" }}</h2>
                                        <span>Faculty</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- KAFEDRA COUNT -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon"><i class="fa fa-bank"></i></div>
                                    <div class="text">
                                        <h2>{{ request.session.kafedra_count|default:"0" }}</h2>
                                        <span>Kafedra</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SUBJECT COUNT -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon"><i class="fa fa-bank"></i></div>
                                    <div class="text">
                                        <h2>{{ request.session.subject_count|default:"0" }}</h2>
                                        <span>Subject</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TEACHER COUNT -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon"><i class="fa fa-bank"></i></div>
                                    <div class="text">
                                        <h2>{{ request.session.teacher_count|default:"0" }}</h2>
                                        <span>Teacher</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- GROUP COUNT -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon"><i class="fa fa-bank"></i></div>
                                    <div class="text">
                                        <h2>{{ request.session.group_count|default:"0" }}</h2>
                                        <span>Group</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- STUDENT COUNT -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon"><i class="fa fa-bank"></i></div>
                                    <div class="text">
                                        <h2>{{ request.session.student_count|default:"0" }}</h2>
                                        <span>Student</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- end row -->

            </div> <!-- end container-fluid -->
        </div> <!-- end section content -->
    </div> <!-- end main content -->
</div> <!-- end page container -->
{% endblock %}
